<div class='container'
     [style.grid-template-columns]="repeat(columnCount, squareSize)"
     [style.grid-template-rows]="repeat(rowCount, squareSize)">
  <ng-template ngFor
               let-row
               [ngForOf]="rowList">
    <ng-template ngFor
                 let-column
                 [ngForOf]="columnList">
      <app-position class="box"
                    [ngClass]="isDarkened(column,row) ? 'position-dark' : 'position-light'"
                    [boardId]="boardId"
                    [positionCoords]="{dimensions: [column,row]}"
                    [isDarkened]="isDarkened(column,row)">
      </app-position>
    </ng-template>
  </ng-template>
</div>
