<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="gameSelectType$">
    <form [formGroup]="resumeOrNewFormGroup">
      <ng-template matStepLabel>Resume or New</ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="resumeOrNewFormGroup" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="secondCtrl" ]>
      <ng-template matStepLabel>Players</ng-template>
      <mat-form-field>
        <input matInput placeholder="Players" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
