<div class="wrapper">
  <div class="top">
    <div class="wrapper-inner">
      <div *ngFor="let i of columnIterate" class="box-inner">{{i + 1}}</div>
    </div>
  </div>
  <ng-template ngFor let-row [ngForOf]="rowIterate">
    <ng-template ngFor let-column [ngForOf]="columnIterate">
      <!-- <app-position
        [boardId]="boardId"
        [positionCoords]="{dimensions: [column,row]}"
        class="box">
        [{{column}},{{row}}]
      </app-position> -->
      <div class="box">[{{column}},{{row}}]</div>
    </ng-template>
  </ng-template>
  <div class="bottom">
    <div class="wrapper-inner">
      <div *ngFor="let i of columnIterate" class="box-inner">{{i + 1}}</div>
    </div>
  </div>
</div>
