.wrapper,.wrapper-inner,.top,.bottom {
  --column-count: 8;
  --row-count: 8;
}

body {
  margin: 40px;
  background-color: #5d5d5d;
}
.wrapper {
  border: 49px solid #462921;
  width: 560px;
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(var(--column-count), 70px);
  grid-template-rows: 40px repeat(var(--row-count), 70px) 40px;
  grid-auto-flow: row;
}
.wrapper-inner{
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(var(--column-count), auto);
  grid-template-rows: auto;
  grid-auto-flow: row;
  align-items: strech;
}

.box {
  padding: 20px;
  font-size: 150%;
  background-color: #b5915f;
  color: #000;
  text-align: center;
}
.box-inner{
  text-align: center;
  align-self: center;
}
.top,
.bottom{
  display: grid;
  align-items: stretch;
  background-color: #7d694c;
}
.top {
  grid-column-start: 1;
  grid-column-end: calc(var(--column-count) + 1);
  grid-row-start: 1;
  grid-row-end: 1;
}
.bottom {
  grid-column-start: 1;
  grid-column-end: calc(var(--column-count) + 1);
  grid-row-start: calc(var(--row-count) + 2);
  grid-row-end: calc(var(--row-count) + 2);
}
